body {
    text-align: center;
    background-image: url(background/cjd8r6t8v3e41.jpg);
}

h1,h3,#signature,#ask{
    font-family: 'Lobster', cursive;
}

h3{
    font-weight: 200;
}

#signature{
    margin-top: 11%;
    text-align : right;
    color:black;
}

#game {
    display: inline-block;
    margin-top: 7%;
    text-align: center;
    background-color: grey;
    border-radius: 4%;
}

.col {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin: 5px;
    display: inline-block;

}

.col.empty {
    cursor: pointer;
}

.col.rouge {
    background-color: red;
}

.col.jaune {
    background-color: yellow;
}

.col.prouge{
    background-color: darkred;
}

.col.pjaune {
    background-color: darkgoldenrod;
}