@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Quicksand:wght@400;700&display=swap');

body {
    text-align: center;
    background-image: url(background/cjd8r6t8v3e41.jpg);
    background-size: cover;
    color: #232323;
    font-family: 'Lobster two', cursive;

}

.container {
    width: 80%;
    margin: 0 auto;


}

h1 {
    font-size: 50px;
}

h3,
h2 {
    font-size: 25px;
    margin-bottom: 100px;
}

#signature {
    font-family: 'Quicksand', sans-serif;
}

#signature {
    position: absolute;
    bottom: 50px;
    right: 50px;
    text-align: right;
    color: lightgrey;
}

#game {
    margin-bottom: 5%;
    display: inline-block;
    background-color: grey;
    border-radius: 4%;
}

.col {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin: 5px;
    display: inline-block;

}

.col.empty {
    cursor: pointer;
}

.col.rouge {
    background-color: red;
}

.col.jaune {
    background-color: yellow;
}


.col.prouge {
    background-color: darkred;
}

.col.pjaune {
    background-color: darkgoldenrod;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 47%;
    margin: 0 auto;
}

.button {
    flex: 1;
    color: whitesmoke;
    background-color: #232323;
    padding: 15px;
    border-radius: 98px;
    position: relative;
    box-shadow: 12px 16px 35px 0px rgba(0, 0, 0, 0.30);
    transition: 0.2s all ease-in-out;
}

.first {
    margin-right: 15%;
}

.button:hover {
    background-color: darkslategrey;
    box-shadow: 6px 8px 8px 0px rgba(0, 0, 0, 0.30);
    cursor: pointer;
}